<h1>EAT THE BURGER</h1>

<h2>Devoured Burgers</h2>


    {{#each burgers}}
    {{#unless devoured}}
             <div class="row">
                <div class="col-8">
                    <p class="sortaBigFont">{{burger_name}} </p>
                </div>
                <div class="col-4">
                    <button class="btn btn-warning customFont devourBtn" id="{{id}}"><i class="fas fa-utensils"></i> Devour </button>
                </div>
    {{/unless}}
    {{/each}}




    {{#each burgers}}
    {{#if devoured}}
    {{burger_name}}
    {{/if}}
    {{/each}}
</ul>
<h2>Order a NEW Burger</h2>
<form class="create-form">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" name="addNewBurger" id="newBurger">
            <button class="btn-burg" id="submitNewBurger">Make Burger!</button>
        </div>
    </form>